* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

button,
input {
  border: none;
}

button {
  cursor: pointer;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.dashboard {
  display: flex;
  min-width: 500px;
  height: 600px;
  border-radius: 6px;
}

.module-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.541)
}

.module {
  min-width: 300px;

  background-color: white;
  padding: 30px;
}

.module button,
.module input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}

.main-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.main-top span {
  font-weight: bold;
}

.sidebar {
  position: relative;
  min-width: 160px;
  background-color: rgb(177, 177, 177);
  padding: 10px;
}

.content {
  width: 100%;
  background-color: rgb(238, 238, 238);
  padding: 10px;
}

.channel-btn {
  width: 100%;
  background: none;
  outline: none;
  appearance: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.small-btn {
  width: 50px;
  height: 20px;
  font-size: 12px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content>* {
  width: 100%;
}


.sender-name {
  font-weight: bold;
  color: rgb(46, 44, 44);
}

.msg-box {
  font-size: 15px;
  margin-bottom: 5px;
}

.sidebar-top {
  margin-bottom: 20px;
}

.main-top,
.main-bot {
  height: 8%;
}

.main-bot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bot input,
.main-bot button {
  width: 100%;
  height: 25px;
}


.main-mid {
  overflow-y: auto;
  height: 92%;
  padding: 5px 0;
}